
.main_header {
    background-color: #62afff;
    color: #ffffff;
    height: 110px;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
}

.nav > li > a {
    color: #ffffff;
    font-weight: bold;
    padding: 14px 20px 14px 25px;
}

.nav.navbar-right > li > a {
    color: #ffffff;
}

.left-menu  .nav > li.active > a {
    color: #ffffff;
}

.title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    height: 45px;
    color: #1d7ece;
}

.title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.btn-primary {
    background-color: #1d7ece;
    border-color: #1d7ece;
    color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
    background-color: #026abf;
    border-color: #026abf;
    color: #FFFFFF;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
    background-color: #09C;
    border-color: #09C;
}

.label-primary,
.badge-primary {
    background-color: #1d7ece;
    color: #FFFFFF;
}

/*-------菜单------*/
.menu-body {
    color: #ffffff;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /*background-color: #ff0000;*/
    /*  background-image: url("../img/sea_menu_bg.gif");*/
}

.nav > li > a {
    color: #000;
    /*font-weight: 600;*/
  height: 75px;;
    padding: 14px 20px 14px 25px;
}
.left-menu .nav > li{
  height: 75px;;
}
.left-menu .nav > li > a {
    color: #fff;
  font-size: 26px;;
  font-weight: bold;
}
.left-menu .nav > li >span{
  font-weight: normal;
}
.nav.navbar-right > li > a {
    color: #ffffff;
}

.nav > li.active > a {
    color: #000000;
}
.left-menu .nav > li.active > a {
    color: #fff;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
    background-color: #62afff;
    color: #fff;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background: #000000;
}

.nav.navbar-top-links > li > a:hover,
.nav.navbar-top-links > li > a:focus {
    background-color: transparent;
}

.nav > li > a i {
    margin-right: 6px;
}

.navbar {
    border: 0;
}

.navbar-default {
    background-color: transparent;
    border-color: #122f57;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 40px;
}

.body-small .navbar-top-links li:last-child {
    margin-right: 0;
}

.navbar-top-links li a {
    padding: 20px 10px;
    min-height: 50px;
}

.navbar-default {
    background-color: #122f57;
    border-color: #122f57;
}

.nav > li.active {
   /* border-left: 4px solid #19aa8d;*/
    background: #fff;
 /*   background-image: url("../img/sea_menu_bg.gif");*/

}
.left-menu .nav > li.active {
    background-color: rgb(0, 145, 202);
}

.nav.nav-second-level > li.active {
    border: none;
}

.nav.nav-second-level.collapse[style] {
    height: auto !important;
}

.nav-header a {
    color: #000000;
}

.nav .text-muted {
    color: #ffffff;
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
   /* background-image: url("../img/sea_menu_bg.gif");*/
}
.nav-second-level li.on{
    background-color: rgb(0, 145, 202);
}
.nav-second-level li a {
    padding: 10px 10px 10px 10px;
    padding-left: 52px;
}

.nav-third-level li a {
    padding-left: 62px;
}

.nav-second-level li:last-child {
    /*margin-bottom: 10px;*/
}

.menu-icon-color {
    color: #1d7ece;
}
.login-warpper{
  width:100%;;
  height:100%
}
.left-menu {
    display: inline-block;
    width: 325px;
    position: fixed;
    height: 100%;
    left: 0;
    padding-top: 110px;
  text-align: center;
}
.leftmenu-icon{
  width: 100px;;
  height: 100px;;
  display: inline-block;
  border: 1px solid red;
  border-radius: 50%;
  margin-top: 55px;
  background-image: url("../../static/img/data.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.leftmenu-name{
  margin-top: 18px;
}
.leftmenu-name p{
  display: inline-block;
}
.left-text-name{
  color: rgb(245,229,63);
}

.right_sircle {
  padding-left: 50px;
  padding-right: 50px;
    display: inline-block;
    width: 84%;
    float: right;
    height:100%;
    position: relative;

}
.right_sircle>div{
  width:98%;
  margin:0 auto;
  margin-top: 110px;
}

.staticFamilyTableWrap {
    overflow-x: auto;
}

.menu-icon-bg {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
}

.menu-icon-bg01 {
    background: url("../img/menu/bt-01.png") no-repeat;
    background-size: 100%;
}
.menu-icon-bg02 {
    background: url("../img/menu/bt-02.png") no-repeat;
    background-size: 100%;
}
.menu-icon-bg03 {
    background: url("../img/menu/bt-03.png") no-repeat;
    background-size: 100%;
}
.menu-icon-bg04 {
    background: url("../img/menu/bt-04.png") no-repeat;
    background-size: 100%;
}.menu-icon-bg05 {
     background: url("../img/menu/bt-05.png") no-repeat;
     background-size: 100%;
 }.menu-icon-bg06 {
      background: url("../img/menu/bt-06.png") no-repeat;
      background-size: 100%;
  }
.menu-icon-bg07 {
    background: url("../img/menu/bt-07.png") no-repeat;
    background-size: 100%;
}
.menu-icon-bg08 {
     background: url("../img/menu/bt-08.png") no-repeat;
     background-size: 100%;
 }
.menu-icon-bg09 {
      background: url("../img/menu/bt.png") no-repeat;
      background-size: 100%;
  }

.fieldValue .form-control{
  width:50%;
}
