.el-tooltip a{
  text-decoration: none!important;
  cursor: pointer;
}
.right_sircle h1 {
  font-size: 26px;;
  margin:0;
  padding-top: 30px;
}
.title-line{
  margin-top: 22px;
  width:100%;
  height: 2px;;
  background-color: #7d7d7d;
}
.title-text{
  height:77px;
  width:100%;
}
.title-text-left{
  height: 50px;
  margin-top: 27px;
  display: inline-block;
  line-height: 50px;
  position: relative;
}
.block{
  display: inline-block;
  width: 280px;;
  height: 50px;;
  margin-left: 15px;
}
.block>div i{
 display: none;
}
.el-input__icon+.el-input__inner{
  height: 50px!important;;
  width:280px!important;
}
.el-picker-panel{
  width: 280px !important;
}
.el-date-editor--date{
  height: 50px!important;;
  width:280px!important;
  margin:0!important;
}
.dataimg img{
  margin-bottom: 5px;
}
.dataimg{
  display: inline-block;
  line-height: 50px;
  height: 48px;
  margin-top: 1px;
  vertical-align: super;
  position: absolute;
  right: 1px;
  background: rgb(224,224,224);
  width: 50px;
  text-align: center;
}
.title-text-left p{
  vertical-align: top;
  display: inline-block;
  font-size: 24px;;
}
.title-text-left input{
  font-size: 20px;;
}
.mailinput{
  margin-left: 15px;
  display: inline-block;
  width: 495px;;
  height: 50px;;
}
.title-text-button{
  height: 50px;
  margin-top: 27px;
  display: inline-block;
  float: right;
}
.title-text-button .btn-primary{
  font-size: 24px;
  height: 50px;;
  border-radius: 0;
  margin-left: 30px;
}
.title-text-button .btn-primary div{
  width: 20px;
  display: inline-block;
}
.text-search{
  background-color: #62afff;
  border:#62afff;
}
.text-add{
  background-color: #009944;
  border:#009944;
}
.text-delete{
  background-color: #e60012;
  border:#e60012;
}
.text-return{
  background-color: #f19149;
  border:#f19149;
}
.el-checkbox{
  margin-bottom: 0;
}
.el-checkbox__inner{
  border-radius: 0!important;
}
.el-table{
  margin-top: 27px;
}
.text-paging{
  margin-top: 50px;
  width: 100%;
  text-align: center;
  font-family: "微软雅黑", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.page-text{
  display: inline-block;
  line-height: 36px;
  vertical-align: text-top;
}
.el-table__header thead>tr{
  font-size: 24px;
  height: 85px;
}
.el-table__body tbody{
  font-size: 22px;
}
.el-table__body tbody tr{
  height: 45px;
}
.ui-widget.ui-widget-content{
  width:245px;
}
.el-button-edit{
  background-color:#ffffff!important;;
  color: rgb(31, 195, 85)!important;;
  border: 0!important;;
  font-size: 22px!important;;
}
.el-button-delete{
  background-color: #ffffff!important;;
  color: #fd4b4f!important;;
  border: 0!important;;
  font-size: 22px!important;;
}
button img{
  vertical-align: bottom!important;
}
.codenumber select{
  width:150px;
  display: inline-block;
}
